@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img#logo {
	width: 80%;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(255, 255, 255, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 0%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(0, 0, 0);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: black;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

.icon {
	width: 40px;
}

.icon-logo {
	width: 25px;
	margin-left: 20px;
}
/* End Header section */
/*Hero Section*/
#hero {
	background-image: url(./img/1.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
}

p {
	color: black;
	text-align: center;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 200;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0);
	opacity: 0.5;
	z-index: -1;
}

#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1.5s;
}

#hero h1:nth-child(1) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation-delay: 3s;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #711011;
	animation: text_reveal_box 1s ease-in;
	animation-delay: 1s;
	color: rgb(26, 19, 19);
}

#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

#hero .cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #711011;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 20px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}

#hero .cta:hover {
	color: white;
	background-color: #711011;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
/*End Hero Section*/

/* Servisi */

#services {
	background-color: black;
}
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
}

.section-title {
	font-size: 3rem;
	font-weight: 300;
	color: #711011;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	background-color: black;
}
.section-title span {
	color: #711011;
}

#services .service-bottom {
	display: flex;

	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-justify: center;
	align-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	gap: 20px;
	margin: 20px 0px 10px 0px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100px;
}

.service-item img {
	height: auto;
	width: 50%;
}

#services .recording {
	background-image: url(./img/recording.jpg);
	background-size: cover;
	background-position: center;
}

#services .composing {
	background-image: url(./img/composing.jpg);
	background-size: cover;
}
#services .mixing {
	background-image: url(./img/mixing.jpg);
	background-size: cover;
}
#services .mastering {
	background-image: url(./img/mastering.jpg);
	background-size: cover;
	background-position: center;
}
#services .film {
	background-image: url(./img/13.jpg);
	background-size: cover;
	background-position: center;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, blue, white 100%);
	opacity: 0.5;
	z-index: -1;
}

#services .service-item h2 {
	color: #711011;
	font-size: 2.8vh;
	font-weight: 600;
	text-transform: uppercase;
}

/*kraj*/

/*Gallery*/
#galerija {
	text-align: center;
	background-color: rgb(0, 0, 0);
}

.wrapper-gallery {
	margin: 0px 20px 0 20px;
}
#index-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px;
	grid-template-areas:
		'fotka1 fotka2 fotka3 fotka4'
		'fotka5 fotka6 fotka7 fotka8'
		'fotka9 fotka10 fotka11 fotka12'
		'fotka13 fotka14 fotka15 fotka16';
}
#index-gallery .gallery-fotka {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

.gallery h1 {
	color: #711011;
	padding: 70px;
}

/* Fotke */

#index-gallery .fotka1 {
	grid-area: fotka1;
	background-image: url('./img/thumbs/1.jpg');
}
#index-gallery .fotka2 {
	grid-area: fotka2;
	background-image: url('./img/thumbs/2.jpg');
}
#index-gallery .fotka3 {
	grid-area: fotka3;
	background-image: url('./img/thumbs/3.jpg');
}
#index-gallery .fotka4 {
	grid-area: fotka4;
	background-image: url('./img/thumbs/4.jpg');
}
#index-gallery .fotka5 {
	grid-area: fotka5;
	background-image: url('./img/thumbs/5.jpg');
}
#index-gallery .fotka6 {
	width: 100%;
	grid-area: fotka6;
	background-image: url('./img/thumbs/6.jpg');
}
#index-gallery .fotka7 {
	grid-area: fotka7;
	background-image: url('./img/thumbs/7.jpg');
}
#index-gallery .fotka8 {
	grid-area: fotka8;
	background-image: url('./img/thumbs/8.jpg');
}
#index-gallery .fotka9 {
	grid-area: fotka9;
	background-image: url('./img/thumbs//9.jpg');
}
#index-gallery .fotka10 {
	grid-area: fotka10;
	background-image: url('./img/thumbs/10.jpg');
}
#index-gallery .fotka11 {
	grid-area: fotka11;
	background-image: url('./img/thumbs/11.jpg');
}
#index-gallery .fotka12 {
	grid-area: fotka12;
	background-image: url('./img/thumbs/12.jpg');
}
#index-gallery .fotka13 {
	grid-area: fotka13;
	background-image: url('./img/thumbs/13.jpg');
}
#index-gallery .fotka14 {
	grid-area: fotka14;
	background-image: url('./img/thumbs/14.jpg');
}
#index-gallery .fotka15 {
	grid-area: fotka15;
	background-image: url('./img/thumbs/15.jpg');
}
#index-gallery .fotka16 {
	grid-area: fotka16;
	background-image: url('./img/thumbs/16.jpg');
}
/*Gallery image title  */

.gallery-fotka div {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gallery-fotka a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: white;
	text-transform: none;
	text-transform: uppercase;
}
.gallery-fotka div:hover {
	opacity: 0.8;
	transition: all ease-in-out 100ms;
}

/* Popup window when clicked */

.img-window {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 100;
}
.img-window img {
	margin-top: 40px;
	max-height: 50%;
	width: 100%;
	padding: 20px;
	background-size: cover;
}

/* Buttons */

.img-btn-next {
	display: block;
	padding: 6px 10px;
	margin-right: 70px;
	border-radius: 4px;
	background-color: #111111;
	position: fixed;
	top: 50%;
	z-index: 500;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}

.img-btn-next:hover {
	opacity: 0.8;
}

.img-btn-prev {
	display: block;
	padding: 6px 10px;
	margin-left: 70px;
	border-radius: 4px;
	background-color: #111111;
	position: fixed;
	top: 50%;
	z-index: 500;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}

.img-btn-:hover {
	opacity: 0.8;
}

/* #iconery .gallery-img img{
    transition: .7s ease transform;
}

#gallery .gallery-item:hover .gallery-img img{
transform:scale(1.1);
} */

/*Kraj*/
.divider {
	padding: 20px;
}
/*O nama*/
.about {
	padding: 20px;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: auto;
	background-color: black;

	justify-content: center;
}

.about p {
	color: white;
	line-height: 25px;
	text-align: start;
	font-size: 1.9vh;
}

.about h1 {
	text-align: center;
	color: #711011;
	margin-top: 80px;
}
.about h3 {
	text-align: center;
	color: rgb(155, 155, 155);
	font-size: medium;
}

.col-right {
	display: grid;
	grid-column: 2;
	grid-gap: 20px;
}

.song {
	display: grid;
	padding: 0 20px 0 20px;
	grid-gap: 20px;
	line-height: 15px;
	font-style: italic;
}

/* .about-img {
	width: 20px;
} */

/*Kraj*/

/* clients */
#clients {
	background-color: black;
}

.cli-wrapper {
	padding-top: 70px;
}
.cli-title h1 {
	font-size: 3rem;
	font-weight: 300;
	color: #711011;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	background-color: black;
}

.clients {
	display: grid;

	grid-template-rows: 1fr;
	width: 100%;

	grid-gap: 15px;
	text-align: center;
}
.cli-slika img {
	width: 50%;
}

.cli h1 {
	color: #b3b2b2;
	text-align: center;
	font-size: 20px;
	padding: 40px;
}

.clients uL {
	list-style: none;
	padding: 5px;
	color: #cccccc;
	line-height: 25px;
	font-weight: 500;
	font-size: 1.8vh;
}
.cli-slika p {
	padding: 5px;
	color: #cccccc;
}

/* team */
#team {
	background-color: black;

	padding-bottom: 200px;
}

.team-container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.team {
	background-color: black;
	display: grid;
	grid-template-rows: 50px 1fr 1fr 1fr;
	grid-gap: 150px;
	margin-bottom: 50px;
}
.team h1 {
	grid-column: 1/-1;
	height: 30px;

	margin-top: 100px;
}

.flip-container {
	background-color: transparent;
	width: 300px;
	height: 200px;

	perspective: 1000px;
}

.flip-container:hover .flipper {
	transform: rotateY(180deg);
}

.flipper {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 1;
	background: black;
}

.flip-container,
.front,
.back {
	border-radius: 5px;
	width: 300px;
	height: 400px;
}

.back {
	transform: rotateY(-180deg);
	background: #711011;
	font-size: medium;
	font-weight: 500;
	color: rgb(245, 245, 245);
}

.mreze {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 150px;
	list-style: none;

	padding: 10px;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
}

.flip-padding {
	padding: 50px;
}

.profile-picture {
	width: 300px;
	height: 100%;
}

.profile-name,
.profile-title {
	text-align: center;
	color: blanchedalmond;
}

.profile-name {
	font-size: 24px;
	margin-top: 20px;
	font-weight: 400;
	margin-bottom: 0px;
}

.profile-title {
	font-size: 16px;
	margin-top: 5px;
	font-weight: 300;
	color: rgb(245, 245, 245);
}

.profile-devider {
	width: 100%;
	height: 4px !important;
	background: #711011;
	position: relative;
	margin: 0 auto;
	margin-top: -4px;
}
.profile-devider:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 0;
	border-color: #711011 transparent;
	display: block;
	width: 0;
	z-index: 1;
	left: 135px;
}

/*Kontakt*/
.contact-container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#contact {
	background-color: black;
}

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items {
	width: 330px;
}

#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px grey;
	transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 grey;
}

#contact .icon {
	width: 70px;
	margin: 0 auto;
}

#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
	color: rgb(153, 153, 153);
}

#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
	color: rgb(196, 193, 193);
}

#contact .section-title {
	color: #711011;
}

/*Footer*/

#footer {
	background-color: #711011;
}
#footer .footer {
	min-height: 100px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 30%px;
	width: 50px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}

iframe {
	border: 1px solid blueviolet;
	border-radius: 20px;
}

/*Kraj*/

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: white;
	}
}

@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500px;
	}
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/* The Close Button */

/*Media Query for Tablet*/

@media only screen and (max-width: 800px) {
	.img-window img {
		margin-top: 40px;
		max-height: 85%;
		width: 100%;
		padding: 20px;
		height: 100%;
		background-size: cover;
	}
}

@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 4.1rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	#services .service-item {
		flex-basis: 80%;
		display: flex;

		flex-direction: column;
		padding: 30px;
		border-radius: 10px;
		gap: 20px;
		margin: 20px 0px 10px 0px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		width: 100px;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

	#contact .section-title {
		margin-bottom: 200px;
	}
	.img-window img {
		margin-top: 40px;
		max-height: 85%;
		width: 100%;
		padding: 20px;
		height: 100%;
		background-size: cover;
	}

	/* .cli {
		line-height: 40px;
	} */
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
	#contact .section-title {
		margin-bottom: 200px;
	}

	.img-btn-prev {
		margin: 0;
	}
	.img-btn-next {
		margin: 0;
	}
	.img-window img {
		margin-top: 40px;
		max-height: 86vh;
		max-width: 80%;
		background-size: cover;
	}
	.about p {
		color: white;
		line-height: 25px;
		text-align: justify;
		font-size: 2.6vh;
	}
	.about {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: auto;
		background-color: black;

		justify-content: center;
	}

	#clients {
		background-color: black;
	}

	.cli-wrapper {
		padding-top: 150px;
	}

	.clients {
		display: grid;
		padding: 60px 50px 0 50px;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
		height: 80%;

		text-align: start;
	}

	.cli-slika {
		grid-column: 1;
		display: flex;
		align-self: center;
		justify-items: center;
		justify-content: center;
	}
	.cli-slika .velika {
		width: 50%;
	}

	.clients uL {
		list-style: none;

		color: #cccccc;
		line-height: 30x;
		font-weight: 700;
		font-size: 1.7vh;
		text-align: start;
		padding: 20px;
	}
	.cli-slika img {
		width: 50%;
		height: 50%;
	}

	/* team */
	.team {
		background-color: black;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 60px;
		justify-items: center;
		margin: 0;
		padding: 0;
		grid-template-rows: 1fr;
	}
	.team h1 {
		grid-column: 1/-1;
		height: 30px;

		margin: 100px;
	}
	#services .service-item {
		flex-basis: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-justify: center;
		flex-direction: column;
		padding: 30px;
		border-radius: 10px;
		margin: 20px 5%;
		position: relative;
		z-index: 1;
		overflow: hidden;
		width: 100%;
	}
}

/* End  Media Query For Desktop */
